.container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  text-align: center;
  
}
.container.div{
  padding: 10px;
}

img{
  height: 290px;
  width: 240x;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.democrat:hover{
  box-shadow: 2px 2px 2px blue;
}
.republican:hover{
  box-shadow: 2px 2px 2px red;
}
.box{
  margin: 20px
}
.personBox p{
  flex-wrap: wrap;
  /* width:80%; */
  padding: .75rem;
  /* padding: 12px; */
  text-align: center;
}
.personBox{
  text-align: center;
}
div{
  text-align: center;
}
*{
  text-align: center;
}

.is-hidden{
visibility: hidden;
}
.is-hiddenR{
  visibility: hidden;
}
.card.is-flipped {
  transform: rotateY(180deg);
}
h1{
  font-size: 80px;
}


.senatorBG{
  padding-right: 100px;
  padding-left: 100px;
  margin: 15px;
}
.repBG{
  padding-right: 80px;
  padding-left: 80px;
  margin: 15px;
}
.button-section{
  border: solid blue;
  display: flex;
  justify-content: space-around;
}
/* .senatorSectionBtn{
  border: solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
/* .repsSectionBtn{
  border: solid green;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  
} */